/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;400;600;700&display=swap');

$font-stack: "Poppins", sans-serif;
$primary-color: #edb33c;
$secondary-color: #286f6c;
$main-blue: #0d2f3f;
$dark: #000;

$small: 300px;
$medium: 1024px;

/* Global */
body {
  font: 100% $font-stack;
  color: $primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-moz-selection { /* Code for Firefox */
  color: $primary-color;
  background: $main-blue;
}

::selection {
  color: $primary-color;
  background: $main-blue;
}

h1{
  text-align: center;
}
p{
  line-height: 1.5;
}
button{
  cursor: pointer;
  background-color: $main-blue;
  color: #fff;
  padding:20px 40px;
  border: none;
  font-size: 1.4em;
  font-weight: 600;
}
.center-align{
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.page {
  padding: 40px 20px;
}
.sub-head{
  text-align: center;
  padding-bottom: 10px;
}
/* END Global */

/* NavBar */
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:$primary-color;
  height: 100px;
  padding: 0 20px;
  .mainNav a {
      text-decoration: none;
      color: $dark;
      padding: 0 10px;
  }
  .logo a{
    color:#fff;
    text-decoration: none;
  }
}
.mobileNav{
  display: none;
  .mobileNav-container{
    -webkit-transition: -webkit-transform .3s ease-in-out;
    -webkit-transition-delay: 0s;
    -moz-transition: -moz-transform .3s ease-in-out 0s;
    -o-transition: -o-transform .3s ease-in-out 0s;
    transition: transform .3s ease-in-out 0s;
    -webkit-transform: translate3d(14.25em, 0, 0);
    -moz-transform: translate3d(14.25em, 0, 0);
    -ms-transform: translate3d(14.25em, 0, 0);
    -o-transform: translate3d(14.25em, 0, 0);
    transform: translate3d(14.25em, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-box-shadow: -1px 0 1px rgb(0 0 0 / 20%);
    -moz-box-shadow: -1px 0 1px rgba(0,0,0,0.2);
    box-shadow: -1px 0 1px rgb(0 0 0 / 20%);
    width: 14em;
    display: block;
    height: 100%;
    position: fixed;
    top: 100px;
    bottom: 0;
    right: -14.25em;
    left: auto;
    z-index: 200;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    a{
      color: $dark;
      text-decoration: none;
      padding: 20px;
    }
  }
  button{
    background: transparent;
    border: none;
    img{
      width:30px;
      height:30px;
    }
    img.close{
      display: none;
    }
  }
  &.is-open{
    img.close{
      display: block;
    }
    img.open{
      display: none;
    }
    .mobileNav-container{
      right: 0;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
}
/* END NavBar */

/* Home Page */
.home{
  .w-80{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  #top-products{
    display: flex;
    .product-card{
      flex: 1 30%;
    }
  }
}
.home-banner{
  background-color: $secondary-color;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  font-weight: 600;
  .home-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h1{
      padding:0;
      margin: 0;
      font-size: 5em;
      text-transform: uppercase;
    }
    .home-sub-head{
      font-size: 2em;
      font-weight: 100;
    }
  }
  .header-image{
    width: 250px;
    height:250px;
    border-radius: 250px;
    background-color: #0d2f3f;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .brackets{
      font-size: 6em;
      position: relative;
      top: -5px;
    }
    .bubble{
      position: absolute;
      bottom:15px;
      left:-90px;
      background-color:#fff;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding:15px 20px;
      line-height: .5;
    }
  }
}
.split50{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:40px 0;
  div{
    flex: 1 45%;
    color: $main-blue;
    img{
      max-width: 100%;
    }
  }
  h2{
    padding: 0;
    margin: 0;
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
  }
}
/* END Home Page */

/* Product Page */
.product-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* END Product Page */

/* Product List Detail */
.product-card {
  flex: 1 45%;
  margin:20px;
  box-shadow: -1px 0 1px rgb(0 0 0 / 20%);
  a{
    text-decoration: none;
  }
  .product-details{
    background-color: $primary-color;
    padding: 40px;
    color: #fff;
  }
  .product-title {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .product-description{
    padding-bottom:20px;
  }
  .price {
    text-align: center;
    background-color: $main-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    min-height: 60px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .tags {
    font-size: 12px;
  }
  .thumbnail{
    background-color: $main-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    img{
      max-width: 250px;
    }
  }
}
/* END Product List Detail */

/* Footer */
.footer{
  background-color: $primary-color;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  a, p{
    text-decoration: none;
    color:#fff;
  }
  .copy{
    font-size: 1em;
    display: flex;
  }
}
/* END Footer */

/* Mobile */
@media screen and (max-width: $medium) {
  .mainNav{display: none;}
  .mobileNav{display: block;}
}
/* END Mobile */